#DB connection settings
spring.datasource.url=jdbc:postgresql://localhost:5432/my_db
spring.datasource.username=my_username
spring.datasource.password=my_password

#Liquibase settings
spring.liquibase.change-log=classpath:/db/changelog/db.changelog-master.yaml
spring.liquibase.enabled=true
spring.liquibase.drop-first=false

#Kafka
spring.kafka.producer.bootstrap-servers=localhost:19092
spring.kafka.producer.key-serializer=org.apache.kafka.common.serialization.StringSerializer
spring.kafka.producer.value-serializer=org.springframework.kafka.support.serializer.JsonDeserializer
spring.kafka.producer.acks= -1